/* FUENTES LOCALES
@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?-ljjqrc');
	src:url('fuentes/icomoon.eot?#iefix-ljjqrc') format('embedded-opentype'),
		url('fuentes/icomoon.woff?-ljjqrc') format('woff'),
		url('fuentes/icomoon.ttf?-ljjqrc') format('truetype'),
		url('fuentes/icomoon.svg?-ljjqrc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e971";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-mail:before {
	content: "\ea83";
}

.icon-mail2:before {
	content: "\ea84";
}

.icon-mail3:before {
	content: "\ea85";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-google:before {
	content: "\ea87";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-google-plus3:before {
	content: "\ea8a";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-twitter3:before {
	content: "\ea93";
}

body{
	background: #EEEEEE;
	font-family: "Open Sans";
	font-size: 16px;
}

header{
	border: 1px solid red;
	background: #40527e;
	overflow: hidden;
	padding: 0.1em;
}

header figure{
	float: left;
	margin: 0;
}

header h1{
	text-align: center;
	color: #EEEEEE;
	border: 1px solid red;
	font-size: 1.4em;
	font-weight: normal;
	padding: 0.8em 0.1em 0.5em 0.1em;
}

header #logo{
	border-right: 1px solid white;
	/*-webkit-transform:rotate(90deg); 
	-moz-transform:rotate(90deg); 
	-o-transform:rotate(90deg); 
	-ms-transform:rotate(90deg);*/ 
}

header #logo img{
	width: 102px;
	float: left;
	padding-right: 0.5em;
	margin-right: 0.5em;
	-webkit-transition:.7s;
}
header #logo img:hover{
	-webkit-transform:rotate(360deg);
}

nav{
	text-align: center;
	background: #80BCA3;
	padding: 0 0.3em;
}

nav ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	margin: 0 0.3em 0 0.3em;
}

nav ul li a{
	border-right: 1px solid #40527e;
	border-left: 1px solid #40527e;
	color: white;
	display: block;
	padding: 0.3em 1em;
	text-decoration: none;
	-webkit-transition:.5s;
}

nav ul li a:hover{
	background: #FC6D06;
}

footer{
	background: #40527e;
	color: rgba(255,255,255,0.7);
	text-align: center;
	padding: 1em;
}

footer p:first-child{
	margin-bottom: 0;
}

footer p:last-child{
	margin-top: 0;
}

footer p:first-child:before{
	content: "~ ";
}

footer p:first-child:after{
	content: " ~";
}

footer p:last-child:before{
	content: "- ";
}

footer p:last-child:after{
	content: " -";
}

@media screen and (min-width: 900px){
	body{
		width: 960px;
		margin: 0 auto;
	}
}



